body{
    font-family: 'Balsamiq Sans', cursive;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.container{
    margin-top: 200px;
}
button{
    background-color: blueviolet;
    color:white;
    height:45px;
    width:80px;
    border-radius: 12px ;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.input{
    height:25px;
    width:250px;
}

.tilt:hover{
    -moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

